
/*------------------- Body -------------------*/
body{
    background-color: rgb(218, 194, 62);
}

/*------------------- Image -------------------*/
#img{
    height: 250px;
    width: 30%;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/burgers.jpg");
    background-size: cover;
    background-position: center;
}

/*------------------- Header -------------------*/
h1{
    text-align: center;
    color : red;
}

/*------------------- List of Burgers -------------------*/
#menu{
    display: flex;
    justify-content: center;
}

li{
    background-color: lightgrey;
    width: 240px;
    padding: 10px 15px 10px 15px;
    margin:15px;
}

button{
    float: right;
    border-radius: 5px;
    background-color: white;
}

button:hover{
    background-color: yellow;
}

/*------------------- Form -------------------*/
#create-form{
    text-align: center;
}

input{
    width: 160px;
    height: 60px;
}

#addBurger{
    margin: 20px;
    border-radius: 10px;
    border: 2px solid blue;
    height: 45px;
    width: 105px;
    float: none;
    color:white;
    background-color: blue;

}

#addBurger:hover{
    background-color: rgb(9, 9, 90);
    border: 2px solid rgb(9, 9, 90);
}

#ready, #deliver{
    list-style-type: none;
    display: inline-block;
}

input{
    width: 200px;
    height: 80px;
}
